<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" *ngIf="this.chartOptions">
  <div fxFlex="60">
    <highcharts-chart id="container" [Highcharts]="Highcharts" [constructorType]="chartConstructor"
      [options]="chartOptions" style="width: 100%; height: 600px; display: block;">
    </highcharts-chart>
  </div>
  <div id="card-iput" fxFlex="40">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="40" appearance="fill" class="form-field">
        <mat-label *ngIf="false">Select State</mat-label>
        <mat-select [(ngModel)]="selectedState">
          <mat-option *ngFor="let stateItem of statesList" [value]="stateItem">{{ stateItem.code }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="40" appearance="fill" class="form-field">
        <mat-label *ngIf="false">Top N Plants</mat-label>
        <input matInput [(ngModel)]="topNPlants">
      </mat-form-field>
      <button (click)="fetchTopNPlants()" mat-raised-button color="primary">Fetch Info</button>
    </div>
  </div>
</div>
<mat-progress-spinner *ngIf="!this.chartOptions" class="spinner-section" [color]="color" [mode]="mode" [value]="value">
</mat-progress-spinner>